/*

Classes :
.circle_info : default

*/
$circle-size:4em;
$max-width:22em;

.circle_info {
  height: $circle-size;
  min-width: max-content;
  position: relative;

  .circle {
    background: var(--y, var(--dark-white));
    height: $circle-size;
    width: $circle-size;
  }

  .content {
    height: $circle-size;
    left: .5em;
    position: relative;
    width: calc(#{$max-width} - #{$circle-size});

    p,
    span {
      line-height: 1em;
      min-width: max-content;
      //font-size: calc(var(--s) * 1em);

      &:not(.subtitle) {
        color: var(--x, var(--paragraph));
      }

      &.subtitle {
        color: var(--y, var(--metadata));
      }
    }

    .inside {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
