/*

Classes :
.label : default

*/
$background: var(--x, transparent);
$border-radius: var(--r);
$color: var(--on-x, var(--black));
$paddingTop:.3em;
$paddingSide:.5em;
$paddingBottom:.4em;
$padding:$paddingTop $paddingSide $paddingBottom;
$border-radius:$paddingTop + $paddingBottom + 1em;
$circleMinDimension:$border-radius;
//$fontFamily:var(--font-d) !default;
$verticalAlignInHeadings:top;
$marginBottom:.3em;
$font-weight:bold;
$vertical-align:bottom;
$line-height:.9em;

.label {
  background: $background;
  border-radius: $border-radius;
  color: $color;
  display: inline-block;
  //font-family: $fontFamily;
  font-weight: $font-weight;
  line-height: $line-height;
  margin-bottom: $marginBottom;
  padding: $padding;
  vertical-align: $vertical-align;

  &.circle {
    border-radius: $border-radius;
    min-height: $circleMinDimension;
    min-width: $circleMinDimension;
  }

  /*
  &.i {
    padding: $paddingTop $paddingTop $paddingBottom;
    vertical-align: unset;
  }
*/
}

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5, {
  & .label {
    vertical-align: $verticalAlignInHeadings;
  }
}
